// define a background - michal, shay
doctype html
html(lang="he")
    meta(charset="utf-8")
    head(dir="rtl")
        div#BLUE
            h1="Project Blue"
        title= "נחום"
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        div#title2 שי
            block content
        div#CopyR
            h5=" Copyright Ofek"