extends layout
extends layout

block content
    h1= "כניסת משתמשים"
    br
    form(name="login", action="/login", method="post")
        div#table
            table
                tr
                    td
                        input(placeholder="שם משתמש" ,type="text", name="userName")
                tr
                    td
                        input(placeholder="סיסמה",type="password", name="pass",color="blue")
            br
            input(type="submit", value="התחבר")
            br
            //msg need to be red
            label= msg