extends layout

block content
    div#LGT
        כניסת משתמשים



    div#Form
        form(name="login", action="/login", method="post")
            div#LOGform.well.form-group
                div.form-group
                    input(placeholder="שם משתמש" ,type="text", name="userName").form-control
                div.form-group
                    input(placeholder="סיסמה",type="password", name="pass",color="blue").form-control
                div.form-group
                    input(type="submit", value="התחבר").btn.btn-success.active.btn-lg






