//
   Created by user on 04/09/2015.
extends layout

block content
   h1= "תלמיד"
   h2= "ברוך הבא: "+ userName

   form(name="studentOption", action="/student", method="post")
      each key in keys
         input(type="radio", name="chosenGameId", value=key)
         label #{key}
      br
      input(type="submit",name="Operation", value="התחל משחק!",ba)