//
   Created by פנינה on 12/09/2015.
doctype html
html
    head
        meta(charset='utf-8')
        title= title
        script(src = "/javascripts/jquery.js")
        script(src="/javascripts/studentGameScripts.js")
    body(bgcolor='black')
        center
            img#q(src='/images/Q.jpg')
            br
            img#a1(src='/images/A.jpg' onclick='selekt(1)')
            img#a2(src='/images/A.jpg' onclick='selekt(2)')
            br
            img#a3(src='/images/A.jpg' onclick='selekt(3)')
            img#a4(src='/images/A.jpg' onclick='selekt(4)')
            br
            img#fifty(src='/images/50.jpg' onclick='fify()')
        div#qu(style='position: absolute; color: #fff;')
            p#tq(dir='rtl') Question
        div#d1(style='position: absolute; color: #fff;')
            p#t1(onclick='selekt(1)' dir='rtl') A1
        div#d2(style='position: absolute; color: #fff;')
            p#t2(onclick='selekt(2)' dir='rtl') A2
        div#d3(style='position: absolute; color: #fff;')
            p#t3(onclick='selekt(3)' dir='rtl') A3
        div#d4(style='position: absolute; color: #fff;')
            p#t4(onclick='selekt(4)' dir='rtl') A4
    input#gameId(type="hidden", value=id)
    input#currentQuestion(type="hidden", value=-1)
