//Created by user on 04/09/2015.
extends layout

block content
   h1= "מרצה"
   h2= "ברוך הבא: " + userName

   form(name="teacherOption", action="/teacher", method="post")
        each quiz in quizes
           input(type="radio", name="chosenQuizId", value=quiz.quiz_id)
           label #{quiz.quiz_name}
           br
        br
        input(type="submit",name="Operation", value="Start Game!")
        input(type="submit", name="Operation", value="Edit quiz")
        input(type="submit", name="Operation", value="Add Quiz")
