
extends layout

block content
    div#tHeader
        מרצה

    div#userName
        h2= "ברוך הבא: " + userName

    div#Con.container
      div#panel.panel.panel-primary
       div#p.panel-heading
                h3="משחקים"
           form(name="teacherOption", action="/teacher", method="post")
                table.table.table-hover.table-condensed
                    each quiz in quizes
                        tr
                            th
                                div#Games
                                label #{quiz.quiz_name}
                                input(type="radio", name="chosenQuizId", value=quiz.quiz_id + "," + quiz.quiz_name)



                div#btns.btn-group-vertical.btn-block
                    input(type="submit",name="Operation", value="Start Game!").btn.btn-group-justified.btn-success
                    input(type="submit", name="Operation", value="Edit quiz").btn.btn-group-justified.btn-success
                    input(type="submit", name="Operation", value="Add Quiz").btn.btn-group-justified.btn-success
