//
   Created by פנינה on 12/09/2015.
extends layout
block content
   center
      h1#mytitle= "Game: " + id
      br
      br
      h2#currentQuestion

      input#NextQuestionBtn(type="button", value="עבור שאלה")
      //input#EndQuestion(type="button", value="End question")
      input#EndGame(type="button", value="End game")

   div
      // shay: add to css padding + right to left for tables.
      table#questionTable(border='1')
         thead
            tr
               th #
               th שאלות
         tbody
            each question, i in questions
               tr(bgcolor= i==0 ? 'red' : 'white')
                  td= i+1
                  td= question.question_desc

   input#gameId(type="hidden", value=id)
   input#currentQuestionIndex(type="hidden", value=1)

   script(src="/javascripts/jquery.js")
   script(src="/javascripts/teacherGameScripts.js")
