

.chart div {
  font: 15px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}



html{
  height: 100%;
}
#container{
  min-height: 100%;
  position: relative;
}

body {
  font-family:Arial,Helvetica,sans-serif;font-size:11px;
  background-color: red;
  height: 100%;
  position: relative;
}
#content {
  color: #483D8B;
  background-color: white;
  margin-bottom: 0;
  margin-top: 0;
  padding: 20px;
  min-height: 100%;

}
#TITLE{
  font-size:20px;
  padding: 10px 0;
  margin-bottom: 10px;
  font-weight: 700;
  letter-spacing: .1em;
  background-color: #555555;
  color: #999;
  text-align: center;
}

#head{
  background-color: #555555;
  color: #999;
}

#CopyR{                           /*changed*/
  font-size: 12px;
  font-weight: 300;
  margin-top: auto;
  color: #999;
  text-align: center;
  width: 100%;
  clear: both;
  bottom: 0;
  position: absolute;
  text-transform: lowercase;
  height: 30px;
}

#Form{
  margin-top: 3%;
  width: 20%;
}

#LGT{
  margin-top: 3%;
  font-size: 20px;
  font-weight: 700;
  border-bottom: 1px solid #555555;
  padding: 10px 0;
  margin-bottom: 10px;
}

h1{
  padding: 10px 0;
  letter-spacing: .005em;
}

#Con{
  margin-top: 3%;
  float: left;
}

#Games{
  font-size: 20px;
  font-weight: 900;
  text-align: right;
  letter-spacing: 0em
}

#tHeader{
  margin-top: 3%;
  font-size: 20px;
  font-weight: 700;
  border-bottom: 1px solid #555555;
  padding: 10px 0;
  margin-bottom: 10px;
}
h2{
  font-size:small;
}
#userName{
  float: right;
  font-size: 20px;
  font-weight: 700;
}